*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100;
}

.navbar p {
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}
.right-side{
    display: flex;
    justify-content: end;
    padding-bottom: 30px;
}

  .navbar a:hover {
    color: blue;  
  }
  
.book-containor{
    width: 700px;
    height: 530px;
    background-color: white;
    margin-left: 350px;
    margin-bottom: 20px;
    padding: 10px;

}
.rcontainor{
    width: 700px;
    height: 320px;
    background-color: white;
    margin-left: 350px;
    padding: 10px;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.wth{
    width: 700px;
    height: 500px;
}
.intbl{
    width: 95%;
    margin-left: 5px;
}

input{
    width: 100%;
}
.registation{
    background-color:rgb(239,239,239);
    text-align: center;
    border: 1px solid black;
    
}
